{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Training Timer(test)</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/timer.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="timer_stage_frame">
        <div id="timer_stage" style="position: absolute;">
            <div id="text_layer_in_timer_stage" style="position: absolute; top: 0px; left: 0px; z-index: 2;"></div>
        </div>
        <!-- <div id="text_layer_in_timer_stage" style="position: relative; top: 0px; left: 0px; z-index: 2;"></div> -->
    </div>

    <script src="https://cdn.anychart.com/js/latest/graphics.min.js"></script>

    <script type="text/javascript" src="{% static 'javascript/colors.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/ConstValues.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascript/GeneralShapes.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/SingleInput.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/NumericInput.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/TimerContent.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/SingleTimer.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/TimerSet.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascript/timer.js' %}"></script>
</body>

</html>